/* Navigation bar styling start */
.nav-header{
    background-image: url(/material/images/background-header.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}
.nav-header .navbar .container .navbar-collapse{
    flex-grow: 0;
}
.nav-header .navbar .container .navbar-collapse ul li a{
    text-decoration: none;
    text-transform: capitalize;
    color: var(--secondary);
    transform: translateY(-20px);
}
.nav-header .navbar .container .navbar-collapse ul li a:hover{
  color: var(--primary);
}
.nav-header .navbar .container .navbar-brand .logo-name{
    top: 23px;
    left: 20px;
    font-size: 13px;
}
/* Navigation bar styling end */





/* header styling start */
.nav-header header .container-fluid .container .row h1{
    font-size: 2.3em;
    font-family: 'poppins-medium';
    letter-spacing: 2px;
    line-height: 57px;
    font-weight: 600;
}
.nav-header header .container-fluid .container .row .left-box a{
    padding: 12px 20px;
    border-radius: 100px;
    border: 1px solid var(--primary);
    margin-right: 2rem;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}
.nav-header header .container-fluid .container .row .left-box a:hover{
  color: var(--primary);
  border: 1px solid var(--primary);
  background-color: transparent;
}
.nav-header header .container-fluid .container .row .left-box i{
    font-size: 25px;
    color: var(--play-button);
    border-radius: 200%;
    padding: 11px 12px 9px 16px;
    margin-right: 1rem;
    text-align: center;
}
/* header styling end */





/* Our best styling start */
.our-best .container .second-box figure img{
  width: 90% !important;
  border-radius: 10px;
  transition: all .5s ease;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
}
.our-best .container .second-box figure img:hover{
  border-radius: 0px;
  box-shadow: 2px 1px 10px 6px var(--secondary);
}
/* Our best styling end */





/* globally accept styling start */
.globally-accept .container .row figure{
  border: 2px solid var(--border-color);
  
}
.globally-accept .container .row .wrapper a{
  background-color: transparent;
  font-weight: 200;
  padding: 13px 30px;
  border: 1px solid var(--border-color);
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
} 
.globally-accept .container .row .wrapper .globe-hover h2{
  font-size: 1.5em;
  font-weight: 200;
}
.globally-accept .container .row .wrapper .globe-hover{
  background-color: rgba(104, 21, 32, 0.781);
}
/* globally accept styling end */





/* lattest tour styling start */
.tour-learn{
  display: none;
}
.lattest-tour .container .row .wrapper h1{
  top: 22px;
}
.lattest-tour .container .link-two{
  display: none;
}
.lattest-tour .container .row .right-box .icon{
  top: 100px;
  left: 45%;
  text-align: center;
  font-size: 1.5em;
  padding: 8px 15px;
  border-radius: 100%;
}
.lattest-tour .container .row .right-box .red-square{
  top: -10px;
  left: -10px;
  width: 80px;
  height: 80px;
  border-radius: 10%;
  z-index: -9;
}
.lattest-tour .container .row .right-box .yellow-square{
  top: 146px;
  right: -10px;
  width: 143px;
  height: 143px;
  border-radius: 10%;
  z-index: -9;
}
/* lattest tour styling end */





/* Choose us styling start */
.choose-us .container .row .box{
  box-shadow: 1px 2px 7px 6px #f5eeee91;
  padding: 3rem 3rem;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
  .choose-us .container .row .box .icon{
    top: -30px;
    font-size: 30px;
    border-radius: 100%;
    width: 70px;
    height: 70px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}
/* Choose us styling end */





/* Customer say styling start */
.customer-say .container .row .box .line{
  width: 80px;
  height: 1px;
  background-color: var(--gray);
  top: -9px;
  margin-right: 2rem;
  font-weight: 200;
}
.customer-say .container .row .box .paragh{
  letter-spacing: 4px;
}
.customer-say .container .row .box .box-button{
  width: 300px;
  border: 1px solid var(--primary);
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}
.customer-say .container .row .box .box-button p{
  padding: 1rem 1rem;
}
.customer-say .container .row .box .box-button .icon{
  border: 1px solid var(--primary);
  border-radius: 100px;
  font-size: 1.5rem;
  width: 55px;
  height: 56px;
}
.customer-say .container .row .box .wrap{
  background-color: var(--ternary);
  bottom: -145px;
  left: 53px;
  padding: 1rem 2rem;
  border-left: 10px solid var(--primary);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.customer-say .container .row .box .wrap .para{
  border-left: 1px solid var(--secondary);
  padding-left: 1.5rem;
}
/* Customer say styling end */





/* footer styling start*/
footer{
  background: linear-gradient(175deg, rgba(156,39,35,1) 0%, rgba(156,39,32,0.9332107843137255) 47%);
}
footer .container .wrapper .top-box .img-logo span{
  top: 20px;
  left: 19px;
  font-size: 13px;
}
footer .container .wrapper .top-box .img-logo img{
  width: 70% !important;
}
footer .container .wrapper .middle-box h2{
  font-size: 21px;
  font-weight: 200;
}
footer .container .wrapper .middle-box .input-subs input{
  background-color: transparent;
  margin-right: 1rem;
  outline: none;
  border: 1px solid var(--yellow-color);
  font-family: 'poppins-regular';
  padding: 10px 1rem;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}
footer .container .wrapper .middle-box .input-subs button{
  outline: none;
  border: 0px;
  padding: 10px 1rem;
}
footer .container .wrapper .last-box .links a{
  margin-right: 1rem;
}
footer .container .wrapper .last-box .links a:last-child{
  margin-right: 0;
}
/* footer styling start*/





/* Back to top btn styling start */
#back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--primary);
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    opacity: 9;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out;
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -ms-transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
}
  
  #back-to-top:hover {
    opacity: 1;
  }
  
  #back-to-top.show {
    visibility: visible;
  }
/* Back to top btn styling start */





  /* Responsive media quiry start */
@media (max-width: 1397px) {
  .lattest-tour .container .row .right-box .yellow-square{
    top: 104px;
  }
}

@media (max-width: 1199px) {
  .lattest-tour .container .row .right-box .yellow-square{
    top: 66px;
  }
  .lattest-tour .container .row .right-box .icon{
    top: 72px;
    left: 124px;
    padding: 6px 14px;
  }
}





@media (max-width: 1024px) {
  header{
    margin-top: 2rem !important;
    padding-bottom: 2rem;
  }
}





@media (max-width: 991px) {
  .section-heading{
    font-size: 22px !important;
    margin-bottom: 6px !important;
  }
  header .container .row{
    padding-bottom: 1.5rem !important;
  }
  header .container .left-box h1,
  header .container .left-box .header-txt{
    padding-bottom: 0 !important;
  }
  header .right-box .img-fluid{
    width: 100% !important;
  }
  .nav-header header .container-fluid .container .row h1{
    font-size: 30px;
    letter-spacing: 1px;
    line-height: 40px;
  }
  header .container .left-box .wrap{
    flex-direction: column;
    align-items: flex-start !important;
  }
  header .container .left-box .wrap a{
    margin-right: 0 !important;
    padding: 9px 20px !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
  }
  header .container .left-box .wrap .header-icon{
    display: none !important;
  }

  section.our-best{
    margin-top: 4rem !important;
  }
  section.our-best .first-row .wrap,
  section.globally-accept .wrap,
  section.choose-us .wrap{
    width: 90% !important;
  }
  section.our-best .second-box,
  section.globally-accept .second-box{
    margin-top: 0 !important;
  }
  .our-best .container .second-box figure img{
    width: 100% !important;
  }

  section.globally-accept{
    margin-top: 5rem !important;
  }
  section.globally-accept .second-box .globe-img{
    max-width: 70% !important;
  }

  section.lattest-tour,
  section.choose-us,
  section.customer-say{
    margin-top: 6rem !important;
  }
  .lattest-tour .container .row .wrapper figure{
    margin: 0 !important;
  }
  .lattest-tour .container .row .wrapper .yellow-img{
    height: 45px;
  }
  .lattest-tour .container .row .wrapper h1{
    top: 8px;
  }
  .lattest-tour .container .row .right-box .yellow-square{
    top: 76px;
    right: 13px;
  }
  .lattest-tour .container .row .right-box .tour-img{
    height: 209px;
  }



  .choose-us .container .row .box .icon{
    font-size: 22px;
    width: 55px;
    height: 55px;
  }
  .choose-us .container .row .box{
    padding: 29px 30px 7px;
  }
  .choose-us .container .row .box h4{
    font-size: 19px;
    font-family: 'poppins-semibold';
    margin-bottom: 10px !important;
  }


  /* customer say styling start */
  .customer-say .row .box h1{
    font-size: 30px;
    font-family: 'poppins-semibold';
    margin-bottom: 12px !important;
  }
  .customer-say .row .box figure .customer-img{
    height: auto !important;
  }
  .customer-say .container .row .box .box-button{
    width: 264px;
  }
  /* customer say styling end */
}



@media (max-width: 767px){
  .para{
    line-height: 23px;
  }
  section.our-best{
    margin-top: 2rem !important;
  }
  section.our-best .first-row .wrap, 
  section.globally-accept .wrap, 
  section.choose-us .wrap {
    width: 100% !important;
  }
  section.globally-accept{
    margin-top: 4rem !important;
  }
  .globally-accept .container .row .wrapper a{
    font-size: 13px;
    padding: 5px 18px;
  }
  .globally-accept .container .row .wrapper .globe-hover h2{
    font-size: 18px;
  }
  section.lattest-tour, 
  section.choose-us, 
  section.customer-say {
    margin-top: 4rem !important;
  }
  .learn-tour{
    display: none;
  }
  .tour-learn{
    display: inline-block;
    margin-top: 17rem;
  }
  .lattest-tour .container .row .right-box .tour-img{
    height: 255px;
  }
  .lattest-tour .container .row .right-box{
    margin-top: 11px !important;
  }
  .lattest-tour .container .row .right-box .yellow-square {
    top: 122px;
    right: 124px;
  }
  .lattest-tour .container .row .right-box .icon {
    top: 106px;
    left: 170px;
    padding: 6px 14px;
  }


  .choose-us .container .row .last-box{
    margin-top: 37px;
  }


  .customer-say .row .box figure .customer-img {
    max-width: 64%;
    height: auto !important;
  }
  .customer-say .container .row .box .wrap{
    bottom: -398px;
    left: 37px;
  }


  footer{
    margin-top: 28rem !important;
  }

  #back-to-top{
    padding: 8px;
    font-size: 10px;
  }
}





@media (max-width:575px){
  nav .container a .img-fluid{
    height: 50px !important;
  }
  .nav-header .navbar .container .navbar-brand .logo-name {
    top: 22px;
    left: 18px;
    font-size: 11px;
  }
  header{
    margin-top: 0.5rem !important;
  }
  .nav-header header .container-fluid .container .row h1 {
    font-size: 27px;
    line-height: 36px;
  }
  header .container .left-box .wrap a{
    padding: 8px 13px !important;
    font-size: 12px;
  }
  .para{
    line-height: 22px !important;
    font-size: 14px !important;
  }
  .our-best .container .row .boxa{
    margin-bottom: 2rem;
  }
  .lattest-tour .container .row .right-box .tour-img{
    height: 206px;
  }
  .lattest-tour .container .row .right-box .icon i{
    font-size: 16px;
  }
  .lattest-tour .container .row .right-box .icon{
    padding: 0px 13px 2px 13px;
    top: 80px;
    left: 145px;
  }
  .lattest-tour .container .row .right-box .yellow-square{
    top: 92px;
    right: 208px;
    width: 123px;
    height: 123px;
  }
  .tour-learn{
    margin-top: 14rem;
  }
  .choose-us .container .row .box:first-child{
    margin-top: 0px;
  }
  .choose-us .container .row .box{
    margin-top: 60px;
  }
  .customer-say .row .box h1{
    font-size: 27px;
  }
  .customer-say .container .row .box .box-button p{
    padding: 0px 1rem;
  }
  .customer-say .container .row .box .box-button .icon{
    width: 45px;
    height: 45px;
  }
  .customer-say .container .row .last-box{
    margin-top: 2rem;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .customer-say .row .box figure .customer-img{
    max-width: 60%;
  }
  .customer-say .container .row .box .wrap{
    padding: 1rem 1rem;
  }
  .customer-say .container .row .last-box .name{
    font-size: 14px;
  }
  .customer-say .container .row .last-box .name,
  .customer-say .container .row .last-box .rev{
    margin-bottom: 0 !important;
  }
}





@media (max-width: 425px){
  header .container-fluid .container .row .right-box{
    display: none;
  }
  header .container-fluid .container .row .left-box{
    width: 100%;
  }
  .lattest-tour .container .row .right-box .yellow-square{
    right: 58px;
  }

}
  /* Responsive media quiry end*/